@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    padding-top: 85px;
}

#Name {
    font-size: 20px;
}

#Cost {
    font-size: 18px;
}

#Logo-1 {
    font-family: 'Fredoka One', cursive;
    color: #ff7000;
}

#Logo-2 {
    font-family: 'Fredoka One', cursive;
    color: #de3a0a;
}

/*Firefox*/
input[type="number"] {
    -moz-appearance: textfield;
}

/*Other*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*add accommodation labels*/
.bottomLine {
    width: 100%;
    border-bottom: 2px solid #fc8624;
}

.indent {
    padding-top: 2px;
}

.profile-main-text {
    font-family: 'Cambria', sans-serif;
    color: black;
    font-size: 24px;
}

.profile-text {
    font-family: 'Cambria', sans-serif;
    color: black;
    font-size: 22px;
}

.error-main-text{
    font-family: 'Cambria', sans-serif ;
    color: dimgrey;
    font-size: 84px;
}

.error-text{
    font-family: 'Cambria', sans-serif ;
    color: dimgrey;
    font-size: 60px;
}

.error-indent{
    margin-top: 14%;
}