<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Admin Panel Page</title>
</head>
<body>

        <div>
            <h1>ADMIN PANEL</h1>
        </div>

        <div th:each="accommodation : ${accommodations}">
            <div th:if="${accommodation.isWaited()}">

                <div th:insert="~{parts/accommodationInformation :: accommodationInformation}"></div>

                <form method="post" th:action="@{/adminPanel/accept}">
                    <input type="hidden" name="accommodationName" th:value="${accommodation.getName()}">
                    <button type="submit" name="accept">Accept</button>
                </form>

                <form method="post" th:action="@{/adminPanel/delete}">
                    <input type="hidden" name="accommodationName" th:value="${accommodation.getName()}">
                    <input type="hidden" name="fileName" th:value="${accommodation.getFileName()}">
                    <button type="submit" name="delete">Delete</button>
                </form>

            </div>
        </div>

        <div th:insert="~{parts/navigation :: navigation}"></div>

</body>
</html>