<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Buying Houses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <div>
        <h4 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h4>
    </div>

    <div>
        <a href="/addAccommodation">Add accommodation</a><br>
        <a href="/profile">Profile</a><br>
        <a href="/buyingAccommodation">Home</a><br>
    </div>

    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>

</body>
</html>