<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Buying Houses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

        <div th:each="accommodation : ${accommodations}">
            <div th:if="${!accommodation.isWaited()}">

                <div th:insert="~{parts/accommodationInformation :: accommodationInformation}"></div>

                <form method="get" th:action="@{/payment/{id}(id=${accommodation.getId()})}">
                    <input type="hidden" name="accommodationName" th:value="${accommodation.getName()}">
                    <button type="submit" name="buy">Buy</button>
                </form>

            </div>
        </div>

        <div th:insert="~{parts/navigation :: navigation}"></div>

</body>
</html>