<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sign In Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

        <div th:if="${param.error}">
            <h5>Check your login/password. Or confirm your mail.</h5>
        </div>
        <div th:if="${param.logout}">
            <h5>You have been logged out.</h5>
        </div>
        <div th:if="${message}">
            <h5 th:text="${message}"></h5>
        </div>

        <form th:action="@{/login}" method="post">
            <div>
                <label>Login:
                    <input name="username" type="text" placeholder="Login" autofocus required>
                </label>
            </div><br>
            <div>
                <label> Password:
                    <input name="password" type="password" placeholder="Password" required>
                </label>
            </div><br>

            <button type="submit" name="signIn">login</button><br>

            <a href="/registration">Register</a>
        </form>

</body>
</html>