<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <title>Sale Accommodation Page</title>
</head>
<body>

        <header th:insert="~{parts/navigation :: navigation}"></header>

        <div>
            <b>Accommodation name: </b><span th:text="${accommodation.getName()}"></span><br>
            <b>Accommodation cost: </b><span th:text="${accommodation.getCost()}"></span><br>
        </div>

        <form method="post" th:action="@{/payment/{id}(id=${accommodation.getId()})}">
            <div>
                <b>Card number: </b>
                <label>
                    <input type="text" pattern="[0-9]{4}" placeholder="XXXX" title="XXXX" required>
                    <input type="text" pattern="[0-9]{4}" placeholder="XXXX" title="XXXX" required>
                    <input type="text" pattern="[0-9]{4}" placeholder="XXXX" title="XXXX" required>
                    <input type="text" pattern="[0-9]{4}" placeholder="XXXX" title="XXXX" required>
                </label><br>
                <b>Date: </b>
                <label>
                    <input type="number" min="1" max="31" placeholder="DAY" required>
                    <input type="number" min="1" max="12" placeholder="MONTH" required>
                </label><br>
                <b>Card owner: </b>
                <label>
                    <input type="text" pattern="[A-Z]+\s[A-Z]+" placeholder="NAME SURNAME" title="NAME SURNAME" required>
                </label><br>
                <b>CVC2/CVV2 code: </b>
                <label>
                    <input type="text" pattern="[0-9]{3}" placeholder="CVC/CVV" title="XXX" required>
                </label><br>
            </div>

            <div>
                    <input type="hidden" name="accommodationName" th:value="${accommodation.getName()}">
                    <input type="hidden" name="fileName" th:value="${accommodation.getFileName()}">
                    <button type="submit" name="buy">Buy</button>
            </div>
        </form>

        <div th:insert="~{/parts/scripts :: scripts}"></div>

</body>
</html>