<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sign Up Page</title>
</head>
<body>

    <div>
        <h5 th:text="${message}"></h5>
    </div>

    <div>
        <form th:action="@{/registration}" method="post">

            <div>
                <label>E-mail:
                    <input name="email" type="email" placeholder="e-mail"><br>
                </label>
            </div>
            <div>
                <label>Password:
                    <input name="password" type="password" placeholder="password"><br>
                </label>
            </div>
            <div>
                <label>Repeat password:
                    <input name="repeatedPassword" type="password" placeholder="repeat password"><br>
                </label>
            </div>
            <div>
                <label>Login:
                    <input name="userName" type="text" placeholder="Login"><br>
                </label>
            </div>

            <button type="submit" name="registration">Register</button>
        </form>
    </div>
</body>
</html>