<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <title>User Profile Page</title>
</head>
<body>

        <header th:insert="~{parts/navigation :: navigation}"></header>

        <main role="main">
            <div class="container">

                <div class="text-center mb-4 border border-dark rounded">
                    <span class="font-weight-bold profile-main-text text-warning">Login:</span> <span class="profile-text" th:text="${user.getUserName()}"></span><br>
                    <span class="font-weight-bold profile-main-text text-warning">E-mail:</span> <span class="profile-text" th:text="${user.getEmail()}"></span><br>
                </div>

                <div class="row">
                    <div th:each="accommodation : ${accommodations}"
                         th:if="${!accommodation.isWaited() && accommodation.getOwner().getId() == user.getId()}"
                         class="col-md-4 col-sm-6">
                        <div class="card mb-4 shadow-sm">

                            <div th:insert="~{parts/accommodationInformation :: accommodationInformation}"></div>

                            <div class="p-2">
                                <div class="d-flex justify-content-center mb-2">
                                    <table>
                                        <td>
                                            <p class="d-inline text-muted">Confirmed:</p>
                                            <img width="17" src="/static/images/tick.svg" alt="">
                                        </td>
                                    </table>
                                </div>
                            </div>

                            <form th:action="@{/profile/delete}" method="post">
                                <div class="m-2">
                                    <input type="hidden" name="accommodationName" th:value="${accommodation.getName()}">
                                    <input type="hidden" name="fileName" th:value="${accommodation.getFileName()}">
                                    <button class="btn btn-danger btn-block" type="submit" name="delete">Delete</button>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div th:each="accommodation : ${accommodations}"
                         th:if="${accommodation.isWaited() && accommodation.getOwner().getId() == user.getId()}"
                         class="col-md-4 col-sm-6">
                        <div class="card mb-4 shadow-sm">

                            <div th:insert="~{parts/accommodationInformation :: accommodationInformation}"></div>

                            <div class="p-2">
                                <div class="d-flex justify-content-center mb-2">
                                    <table>
                                        <td>
                                            <p class="d-inline text-muted">Confirmed:</p>
                                            <img width="17" src="/static/images/cross.svg" alt="">
                                        </td>
                                    </table>
                                </div>
                            </div>

                            <form th:action="@{/profile/delete}" method="post">
                                <div class="m-2">
                                    <input type="hidden" name="accommodationName" th:value="${accommodation.getName()}">
                                    <input type="hidden" name="fileName" th:value="${accommodation.getFileName()}">
                                    <button class="btn btn-danger btn-block" type="submit" name="delete">Delete</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div th:insert="~{/parts/scripts :: scripts}"></div>

</body>
</html>