<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User Profile Page</title>
</head>
<body>

        <div>
            <b>Login:</b> <span th:text="${user.getUserName()}"></span><br>
            <b>E-mail:</b> <span th:text="${user.getEmail()}"></span><br>
        </div>

        <p>Approved accommodation<br></p>
        <div th:each="accommodation : ${accommodations}">
            <div th:if="${!accommodation.isWaited() and accommodation.getOwner().getId() == user.getId()}">

                <div th:insert="~{parts/accommodationInformation :: accommodationInformation}"></div>

                <form th:action="@{/profile/delete}" method="post">
                    <input type="hidden" name="accommodationName" th:value="${accommodation.getName()}">
                    <input type="hidden" name="fileName" th:value="${accommodation.getFileName()}">
                    <button type="submit" name="delete">Delete</button>
                </form>

            </div>
        </div>

        <p>Unapproved accommodation<br></p>
        <div th:each="accommodation : ${accommodations}">
            <div th:if="${accommodation.isWaited() && accommodation.getOwner().getId() == user.getId()}">

                <div th:insert="~{parts/accommodationInformation :: accommodationInformation}"></div>

                <form th:action="@{/profile/delete}" method="post">
                    <input type="hidden" name="accommodationName" th:value="${accommodation.getName()}">
                    <input type="hidden" name="fileName" th:value="${accommodation.getFileName()}">
                    <button type="submit" name="delete">Delete</button>
                </form>

            </div>
        </div>

        <div th:insert="~{parts/navigation :: navigation}"></div>

</body>
</html>