<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <div th:fragment="accommodationInformation">
            <b>Name: </b><span th:text="${accommodation.getName()}"></span><br>
            <b>City: </b><span th:text="${accommodation.getCity()}"></span><br>
            <b>Cost: </b><span th:text="${accommodation.getCost()}"></span><br>
            <b>Rooms: </b><span th:text="${accommodation.getAmountOfRooms()}"></span><br>
            <b>Square: </b><span th:text="${accommodation.getSquare()}"></span><br>
            <b>Furnished: </b><span th:text="${accommodation.isFurniture()}"></span><br>
            <b>Internet: </b><span th:text="${accommodation.isInternet()}"></span><br>
            <b>Type: </b><span th:text="${accommodation.getType()}"></span><br>
            <b>Rate: </b><span th:text="${accommodation.getRate()}"></span><br>
            <b>Owner: </b><span th:text="${accommodation.getOwner().getUserName()}"></span><br>
            <b>E-mail: </b><span th:text="${accommodation.getOwner().getEmail()}"></span><br>

            <img th:src="@{/img/{id}(id=${accommodation.getFileName()})}" alt="">
        </div>
    </body>
</html>